<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Valonia server</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      .messageContainer {
        height: 200px;
        width: 700px;
        background-color: #717171;
        color: white;
        position: absolute;
        right: 50%;
        top: 30%;
        margin-top: -100px;
        margin-right: -350px;
      }

      .messageText {
        position: absolute;
        left: 8%;
        top: 30%;
        font-size: 16px;
      }

      .messageButton {
        position: absolute;
        top: 50%;
        left: 40%;
      }

      #square-button-primary {
        border-radius: 0px;
        color: white;
        background-color: #627F9A;
        border-color: #627F9A;
      }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="messageContainer">
      <div class="messageText">
        <p><%= message %></p>
      </div>

      <div class="messageButton">
        <button id="square-button-primary" class="btn btn-primary btn-sm" onClick="window.location.href = '<%= url %>';">Siirry sovellukseen</button>
      </div>
    </div>
  </body>
</html>
